@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
  --card: #0f172a;
}

html, body {
  height: 100%;
}

body {
  @apply bg-[var(--bg)] text-white antialiased;
}

.container {
  @apply mx-auto max-w-7xl px-6;
}